*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-choice{
    border: 5px solid gray;
    display: flex;
    flex-wrap: wrap;
    width: calc(152px * 5);
}
.img-choice img{
    width: 150px;
    border: 5px solid #ccc;
}

.gallery{
    display: inline-block;
    border: 5px solid gray;
}